<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Introduction to Nimiq (en-us)</string>
	<key>libraryID</key>
	<string>C240F921-982E-4596-A5C1-3596E4513CC0</string>
</dict>
</plist>
